<div *ngFor="let item of items">
  <ul>
   <li class="{{ item.type === 'folder' ? 'folder': 'file' }}_container">
   	 <p class="element_for_open_sub_{{ item.type === 'folder' ? 'folder': 'file' }}" (click) = "toggleDirectory($event)"> 
     <i class="material-icons">{{ item.type === 'folder' ? 'folder': 'insert_drive_file' }}</i> {{item.name}} <span *ngIf="item.type === 'folder'"> ({{ item.children.length }})</span> </p> 
     <div class="sub_directory"> 
     	<app-item [items]="item.children | orderBy " 
         *ngIf="item.type == 'folder'"></app-item>
     </div>
   </li>
  </ul>
</div>